body{
    background-color: rgb(44, 102, 202);
}
.loginbox{
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: rgb(91, 112, 209);
    color: #fff;
    width: 320px;
    height: 365px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
